.mail {
  box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
  background: rgba(242, 245, 245, 0.8);
  color: #202124;
  -webkit-user-drag: auto;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 20px !important;
}

.mail--unread {
  background: rgba(255, 255, 255, 0.902) !important;
}
.mail__text {
  margin: 0;
}
.mail:hover {
  box-shadow: inset 0px 0px 2px 0px rgba(60, 64, 67, 1);
  z-index: 1;
}
.mail > h1 {
  margin: 0;
}
.mail--hoverBlack:hover {
  color: black !important;
}
.mail--colorGray {
  color: grey !important;
}
.mail--Yellow {
  color: #e3c86f !important;
}
.mail__label {
  margin-right: 10px;
  margin-left: 10px;
}
.mail__texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mail__body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  max-width: 35vw;
  color: #5f6368;
}
.mail__titleSubtitle {
  display: flex;
  width: 50vw;
}
