.home {
  background-image: url("https://lh5.ggpht.com/r0SGNlUNQocspUn5Vq3meD_B4XCMHNzmsYX7GYs40h_cddB-3omCWopHqNGVsUqgzL5mdXFFxQ");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
