.compose {
  position: absolute;
  right: 0;
  width: 589px;
  height: 100%;
  flex-direction: column;
}

.compose__container {
  position: absolute;
  left: 0;
  top: 22%;
  background-color: white;
  width: 90%;
  height: 100%;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.compose__header {
  background-color: #404040;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.compose__header > h4 {
  margin: 0;
  color: white;
  margin-left: 10px;
}

.compose__icon {
  color: gray !important;
  margin-right: 5px;
  height: 20px !important;
  cursor: pointer;
}

.compose__input {
  outline: none;
  border: none;
  outline: 0;
  padding: 10px;
  padding-left: 0;
  width: 90%;
  margin-left: 10px;
  box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
}
.compose__textarea {
  outline: none;
  border: none;
  width: 95% !important;
  height: 53% !important;
  margin-left: 10px;
  margin-top: 10px;
}
.compose__footer {
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.compose__btn {
  text-transform: capitalize !important;
  margin-right: 10px !important;
}
.compose__footer__container {
  display: flex;
  max-height: 35px;
  width: 100%;
}

.MuiAutocomplete-root {
  width: 220px !important;
  margin-bottom: 40px !important;
  margin-top: -10px !important;
}
